<header>
    <div class="main-header">
      <div class="wrapper">
        <p>Call <a href="tel:18553362465" title="call to" class="button-blue">
          1-855-336-2465
        </a></p>
      </div>
  </div>
  <div class="navbar">
    <div class="wrapper">
        <h1 class="logo"><a href="/" title="{{ pageTitle }}" ><img src="/assets/images/home_logo.svg" alt="{{ pageTitle }}" /></a></h1>
    </div>
  </div>
</header>